<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xd.bdilab.iotplatform.mapper.SwitchLogMapper">
    <select id="selectById" parameterType="java.lang.Integer" resultType="edu.xd.bdilab.iotplatform.dao.SwitchLog">
        select
         id as id,
         start_time as startTime,
         end_time as endTime,
         fk_device_id as fkDeviceId
        from switch_log WHERE id=#{id}
    </select>
</mapper>