<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xd.bdilab.iotplatform.mapper.UserMapper">
  <select id="selectByUserName" parameterType="String" resultType="edu.xd.bdilab.iotplatform.dao.User">
        select
         user_id as userId,
         user_name as userName,
         password as password
     from user WHERE user_name=#{user_name}
  </select>
</mapper>